# openarc.conf -- configuration file for the OpenARC mail filter

# Only brief examples of each configuration option are provided. For
# detailed documentation, consult the openarc.conf(5) man page.

# AuthResIP                     true

AuthservID                      example.com

# AutoRestart                   false
# AutoRestartCount              0
# AutoRestartRate               5/1m

# Background                    true

# BaseDirectory                 /run/openarc

# Canonicalization              simple/simple

# ChangeRootDirectory           /usr/local/chroot/openarc

Domain                          example.com

# EnableCoredumps               false

# FinalReceiver                 false

# FixedTimestamp                1234567890

# InternalHosts                 /etc/openarc/internalhosts.conf

# KeepTemporaryFiles            false

# KeyFile                       /etc/openarc/my-selector-name.key

# MaximumHeaders                65536

# MilterDebug                   0

# MinimumKeySizeRSA             2048

# Mode                          sv

# OversignHeaders               Subject,From,Date

# PeerList                      /etc/openarc/peerlist.conf

# PermitAuthenticationOverrides true

# PidFile                       /run/openarc/openarc.pid

# RequireSafeKeys               true

# ResponseDisabled              accept
# ResponseUnable                tempfail
# ResponseUnwilling             reject

# SealHeaderChecks              filename

Selector                        my-selector-name

# SignatureAlgorithm            rsa-sha256

# SignHeaders                   Subject,From,Date,Message-ID,Sender

Socket                          /run/openarc/openarc.socket

# SoftwareHeader                false

Syslog                          true
# SyslogFacility                mail

# TemporaryDirectory            /tmp

# TestKeys                      /etc/openarc/test.keys

# UMask                         022

# UserID                        openarc:daemon
